@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}
   

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  color: #099feb;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #099feb;
  color: white;
  padding: 12px 24px;
  width: 200px;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
}

.bluejay {
  color: #099feb;
}

.logo {
  width: 160px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  max-height: 48px;
  padding: 12px 40px;
  cursor: pointer ;
  border: 2px solid #099feb;
  border-radius: 50px;
  background-color: #099feb;
  color: white;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #099feb;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}


/* LANDING */


header {
  height: calc(100vh - 80px);
}

.header__container {
  /* width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; */
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__wrapper{
 width: 730px;
 height: 70px;
 position: relative;
 display: flex;
 justify-content: center;
}

.input {
 width: 100%;  
 border-radius: 20px;
 font-size: 18px;
 padding: 0 15px 0 25px;
 border: 1px solid #0a1f44;
}

.fa-solid {
 width: 40px;
 height: 40px;
 color: white;
}

.header__img--wrapper {
  padding: 20px;
}