@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}
   

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  color: #099feb;
  margin-bottom: 24px;
  text-align: center;
}

.movie__h1{
 color: white;
 font-size: 45px;
 font-weight: 500;
 margin-bottom: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #099feb;
  color: white;
  width: 200px;
  margin-left: 20px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  transition: all 150ms ease;
}

.btn:active {
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.bluejay {
  color: #099feb;
}

.logo {
  width: 160px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 8px;
}

.movie__nav--link {
 color: white;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  max-height: 48px;
  padding: 12px 40px;
  cursor: pointer ;
  border: 2px solid #099feb;
  border-radius: 50px;
  background-color: #099feb;
  color: white;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #099feb;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #099feb;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}


/* LANDING */


header {
  height: calc(100vh - 80px);
}

.header__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__wrapper{
 width: 720px;
 height: 70px;
 position: relative;
 display: flex;
 justify-content: center;
}

.input {
 width: 100%;  
 border-radius: 20px;
 font-size: 18px;
 padding: 0 15px 0 25px;
 border: 1px solid #0a1f44;
}

.input__wrapper--movies{
 width: 100%;
 max-width: 600px;
 position: relative;
 display: flex;
 justify-content: center;
}

.input--movies{
 border: 1px solid #0a1f44;
 width: 100%;
 max-width: 800px;
 height: 60px;
 font-size: 18px;
 border-radius: 20px;
 padding: 0 15px 0 25px;
}

.fa-solid {
 padding: 12px 20px;
 color: white;
 transform: scale(3);
}

.fa-sharp{
 padding: 0;
 color: #099feb;
 position: absolute;
 top: 40%;
 right: 5%;
}

.header__img--wrapper {
  padding-top: 100px;
  width: 700px;
  height: 400px;
}

.movies__header--container{
 margin-top: 40px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.overlay__img {
   background-repeat: no-repeat;
   background-size: auto;
   background-attachment: fixed ;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 1;
   z-index: -5; 
}

.img {
    height: 350px;
}




/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
   .nav__container{
    height: 40px;
    padding-top: 40px;
   } 

   .nav__link {
    font-size: 16px;
    
   }

  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  .btn {
    font-size: 18px;
  }

  .input__wrapper {
    max-width: 600px;
    
}
  
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }


  .header__description {
    max-width: 550px;
    
  }

  .input__wrapper{
    max-width: 550px;
    position: relative;
    flex-direction: column;
    align-items: center; 
    height: 150px;
  }

  .input {
   max-width: 500px;
   height: 65px;
  }

  .btn {
   margin-top: 20px;
   max-width: 500px;
   width: 100%;
   margin-left: 0px;

  }

}